#title-card {
    height: 100px;
    background-color: $primary;
    position: relative;
    img{
        border: 1px solid $white;
        position: absolute;
        left: 445px;
        bottom: 30px;
    }
}

#comic {
    padding: 80px 0;
    .box-comic {
        display: flex;

        .info-comic {
            width: 70%;
            padding: 0 35px;

            h2 {
                margin-bottom: 20px;
                color: #003f5e;
            }
            .buy {
                height: 50px;
                background-color: #55ba59;
                margin-bottom: 20px;
                border-bottom: 1px solid red;
                display: flex;
                .price {
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #bafd91;
                    padding: 10px;
                    .price-item {
                        color: $white;
                    }
                }
                .check {
                    border-left: 1px solid red;
                    display: flex;
                    align-items: center;
                    width: 30%;
                    justify-content: center;
                    color: $white;
                }
            }
        }

        .img-comic {
            width: 30%;
            text-align: end;
        }
    }
}

#detail-comic {
    height: 400px;
    background-color: #f6f6f6;
    .d-flex {
        display: flex;
        .talent {
            border: 1px solid red;
            width: 50%;
            padding: 0 25px;
            .talent-item {
                display: flex;
                margin-top: 20px;
                span {
                    width: 60%;
                }
                p {
                    color: $primary;
                }
            }
        }
        .specs {
            width: 50%;
            padding: 0 25px;

            border: 1px solid red;
            .specs-item {
                display: flex;
                margin-top: 20px;
                border: 1px solid red;
                span {
                    width: 30%;
                }
            }
        }
    }

    .option-item {
        border-top: 1px solid #E3E3E3;
        height: 80px;
        margin-top: 80px;
        padding: 20PX;
        display: flex;
        justify-content: center;
        .item-icon{
            display: flex;
            color: #9F9F9F;
            figure{
                width: 50px;
                margin-left: 80px;
                img{
                    max-width: 100%;

                }
            }
        }
    }
}
