#jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-position: top;
    background-size: cover;
    height: 390px;

    
}

#box-card{
    background-color: $bg_main;
    padding: 50px 0;
    color: $white;
    position: relative;

    .d-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .series{
        width: 200px;
        padding: 15px;
        text-align: center;
        color: $white;
        font-size: 20px;
        font-weight: bold;
        background-color: $primary;
        position: absolute;
        left: 400px;
        top: -25px;
    }
    .card{
        width: calc(100% / 6);
        padding: 0 20px;
        margin-bottom: 20px;
        figure{
            height: 150px;
            margin-bottom: 10px;
            overflow: hidden;
            img{
                max-width: 100%;
            }
        }
    }
 
    a{
        background-color: $primary;
        padding: 10px 20px;
        color: $white;
    }
 
}


#options{
    background-color: $primary;
    color: $white;
    padding: 20px;

    .box-options{
        display: flex;
        .item-icon{
            display: flex;
            align-items: center;
            figure{
                width: 50px;
                margin: 0 20px ;
                img{
                    max-width: 100%;
                }
            }
            span{
                font-size: 0.9rem;
            }
        }
    }
}