@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border: 1px solid red;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}

#jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 300px;
  position: relative;
}
#jumbotron .series {
  width: 200px;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #0282F9;
  position: absolute;
  left: 80px;
  bottom: -25px;
}

#box-card {
  background-color: #1C1C1C;
  padding: 50px 0;
  height: 200px;
  color: white;
}

#options {
  background-color: #0282F9;
  color: white;
  padding: 20px;
}
#options .box-options {
  display: flex;
}
#options .box-options .item-icon {
  display: flex;
  align-items: center;
}
#options .box-options .item-icon figure {
  width: 50px;
  margin: 0 20px;
}
#options .box-options .item-icon figure img {
  max-width: 100%;
}
#options .box-options .item-icon span {
  font-size: 0.9rem;
}