@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border: 1px solid red;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}

#jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 300px;
}