@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}
header .search {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header .search input {
  border: 0;
  border-bottom: 2px solid #0282F9;
}

#jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 390px;
  position: relative;
}
#jumbotron .series {
  width: 200px;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #0282F9;
  position: absolute;
  left: 80px;
  bottom: -25px;
}

#box-card {
  background-color: #1C1C1C;
  padding: 50px 0;
  color: white;
}
#box-card .d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#box-card .card {
  width: 16.6666666667%;
  padding: 0 20px;
  margin-bottom: 20px;
}
#box-card .card figure {
  height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
}
#box-card .card figure img {
  max-width: 100%;
}
#box-card a {
  background-color: #0282F9;
  padding: 10px 20px;
  color: white;
}

#options {
  background-color: #0282F9;
  color: white;
  padding: 20px;
}
#options .box-options {
  display: flex;
}
#options .box-options .item-icon {
  display: flex;
  align-items: center;
}
#options .box-options .item-icon figure {
  width: 50px;
  margin: 0 20px;
}
#options .box-options .item-icon figure img {
  max-width: 100%;
}
#options .box-options .item-icon span {
  font-size: 0.9rem;
}

footer .footer-top {
  height: 400px;
  background-image: url("../img/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
footer .footer-top a {
  color: #797979;
}
footer .footer-top li {
  margin-bottom: 5px;
}
footer .footer-top h3 {
  margin: 10px 0;
}
footer .footer-top .menu-site {
  display: flex;
  padding: 50px 0;
}
footer .footer-top .menu-site .left-menu {
  margin-right: 50px;
}
footer .footer-bottom {
  height: 100px;
  background-color: #303030;
  padding: 20px 0;
  color: #0282F9;
}
footer .footer-bottom .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom a {
  color: white;
  padding: 20px;
  border: 1px solid white;
}
footer .footer-bottom .social {
  display: flex;
  align-items: center;
}
footer .footer-bottom .social h4 {
  margin-right: 10px;
}
footer .footer-bottom .social img {
  margin-right: 10px;
}